/* assets/CSS/style.css để tạo nhanh */
/* Làm các phần từ trên xuống dưới, từ trái qua phải, từ tổng quan đến chi tiết */

* {
  box-sizing: border-box;
}

/* Tạo biến để tái sử dụng và chỉnh sửa nhanh */
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  /* Set 62.5% để quy đổi 1rem=10px. Vì mặc định 1rem=16px */
  font-size: 62.5%;
}

/* Khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ==================== common ==================== */
a {
  /* Bỏ gạch chân thẻ <a> */
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27; /* 126.316% */
  letter-spacing: -0.76px;
}

.btn {
  /* Chuyển mặc định (inline) sang inline-block để set padding */
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.main-content {
  width: 1170px;
  /* Cách lề 2 bên mỗi chỗ 24px */
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* Dùng để rút gọn nội dung và tạo dấu ... khi nội dung quá 1 dòng(mặc định) */
.line-clamp {
  display: -webkit-box; /* Kích hoạt cơ chế box của WebKit để hỗ trợ line-clamp */
  /* Giới hạn số dòng hiển thị, mặc định là 1 dòng */
  -webkit-line-clamp: var(--line-clamp, 1);
  /* Viết cả tiền tố -webkit- (cho trình duyệt cũ) và thuộc tính tiêu chuẩn (cho tương lai) để đảm bảo tính tương thích */
  line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical; /* Sắp xếp nội dung theo chiều dọc (vertical) */
  overflow: hidden; /* Ẩn phần nội dung vượt quá số dòng cho phép */
}

/* Dùng để rút gọn nội dung và tạo dấu ... khi nội dung quá 2 dòng */
.line-clamp.line-2 {
  /* Giới hạn số dòng hiển thị là 2 dòng */
  -webkit-line-clamp: 2;
  /* Viết cả tiền tố -webkit- (cho trình duyệt cũ) và thuộc tính tiêu chuẩn (cho tương lai) để đảm bảo tính tương thích */
  line-clamp: 2;
}

/* Dùng để ép ngắt từ ở bất kỳ ký tự nào khi nội dung quá dài */
.break-all {
  word-break: break-all; /* Cho phép trình duyệt ngắt chữ ở mọi vị trí để tránh tràn khung */
}

/* ==================== header ==================== */

.header {
  background: #fffcf4;
}

.header.fixed {
  /* Để thứ tự luôn ưu tiên nằm lên trên */
  z-index: 1;
  position: sticky;
  /* Kéo xuống đến khoảng cách 36px-28px=8px là dừng lại. 36px đó là padding của .header .body */
  top: -28px;
}

.header .body {
  /* df */
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  /* mla */
  /* Canh trái nav nên nó đẩy luôn các thẻ sau nav sang hết bên phải */
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  /* Dùng để căn thẻ a::after theo thẻ a */
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  /* Vì tổng khoảng cách là 42px nên mỗi bên là 21px */
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* Độ đậm của chữ: Nhưng dùng cái này đưa chuột vào nó làm chữ giãn ra, đưa chuột ra rồi co lại. Làm cả thanh nó giật giật không đẹp */
  /* font-weight: 600; */
  /* Chuyển qua dùng text-shadow: Tạo bóng đổ nhẹ sang bên phải 1px */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  /* Dùng để căn thẻ a::after theo thẻ a */
  position: absolute;
  left: 21px; /*bằng phần trái phải 21px của padding ở thẻ <a>*/
  bottom: 6px;
  /* để display inline ko set đc width height phải chuyển qua block hoặc inline-block */
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  /* Vì chỗ "Reviews" thuộc thẻ a đã cách 21px nên cần thêm 49px để nút Sign Up cách Reviews 70px */
  margin-left: 49px;
}

/* ==================== hero ==================== */

.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* ========== hero left ========== */
/* Lấy class hero thay vì class main-content vì main-content là class chung các phần khác nữa. Nên không phân biệt được.  */
.hero .media-block {
  /* Dùng để căn chỉnh khối .media-summary theo khối cha .media-block */
  position: relative;
  /* Lấy chiều rộng khối .media-block=570px chia cho khối .main-content=1170px được gần 48% */
  width: 48%;
}

/* Chỉnh form chuẩn khung ảnh. Để có upload ảnh khác lên thì vẫn giũ đúng form */
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  padding: 24px;
  width: 270px;
  /* Dùng để căn chỉnh khối .media-summary theo khối cha .media-block */
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
  /* Căn chỉnh các phần tử trong tất cả class "item" ở giữa theo cột dọc */
  align-items: center;
}

/* Tác động vào các lớp item nằm sau item khác (ở đây là tác động vào item2 và item3 trừ item1 */
.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  /* 3 thuộc tính đầu để tạo hình tròn quanh img */
  width: 48px;
  height: 48px;
  border-radius: 50%;
  /* 4 thuộc tính sau để căn img chính giữa và tô màu nền cho hình tròn */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}

.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  /* Khoảng cách giữa info với label */
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

/* ========== hero right ========== */
.hero .content-block {
  /* Lấy 100% - 48%(bên khối trái) = 52% */
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.hero .cta-group {
  /* Để xoay ngang 2 phần tử bên trong và căn giữa 2 phần tử theo chiều dọc */
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}

.hero .watch-video {
  margin-left: 28px;
  /* Để bỏ viền bao quanh mặc định của thẻ <button> */
  border: none;
  /* Để nền trong suốt */
  background: transparent;
  /* Để xoay ngang 2 phần tử bên trong và căn giữa 2 phần tử theo chiều dọc */
  display: flex;
  align-items: center;
  /* Khi đưa chuột vào nút, con trỏ sẽ đổi từ mũi tên ➜ thành hình bàn tay 👆. */
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .stats {
  margin-top: 8px;
}

.hero .stats strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
}

/* Chọn thẻ <strong> thứ 2 */
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* ==================== popular ==================== */
.popular {
  /* Có padding để phần nền không ôm sát chữ. Sau này muốn đổi nền cũng tiện */
  padding: 65px 0;
  /* Thấy ô chữ cách phần hero 200px mà padding đã 65px rồi nên margin-top còn 135px */
  margin-top: 135px;
}

/* ========== popular top ========== */
.popular-top {
  /* Để xoay ngang 2 phần tử bên trong và căn 2 phần tử sát lề 2 bên theo chiều ngang */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.popular-top .controls {
  display: flex;
  /* Khoảng cách giữa các phần tử là 18px */
  gap: 18px;
}

.popular-top .control-btn {
  /* 3 thuộc tính đầu để căn giữa icon trong khung hình tròn */
  /* Khi dùng display: flex, phần tử chuyển sang dạng block (khối) và không còn tính chất inline(xếp 1 hàng) nữa. Nên muốn xoay ngang 2 phần tử thì lên lớp cha dùng display: flex */
  display: flex;
  /* Mẹo: Nếu muốn phần tử vừa xếp hàng ngang như inline ở ngoài, vừa xài được flex ở trong thì dùng: */
  /* display: inline-flex; */
  justify-content: center;
  align-items: center;
  /* Xóa viền nút button */
  background: transparent;
  width: 40px;
  height: 40px;
  /* Tạo hình tròn */
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

/* ========== popular bottom ========== */
.popular .course-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

/* Trạng thái bình thường của course-item */
.popular .course-item {
  /* Để 3 item có cùng trọng số để luôn bằng nhau khi text quá dài */
  /* flex: flex-grow flex-shrink flex-basis; */
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

/* Trạng thái khi di chuột vào của course-item */
.popular .course-item:hover {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

/* Định dạng khung ảnh để dễ thay đổi ảnh sau này */
.popular .course-item .thumb {
  /* Khi di chuột vào thì viền trong suốt */
  border: 1px solid transparent;
  border-radius: 12px 12px 0px 0px;
  height: 278px;
  object-fit: cover;
  width: 100%;
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.popular .rating .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 16px;
  line-height: 1.75; /* 175% */
}

.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.popular .course-item .foot {
  margin-top: 12px;
}

.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.popular .course-item .btn-book {
  /* Bỏ border mặc định của button */
  border: none;
}

.popular .course-item .btn-book:hover {
  background: var(--primary-color);
}

/* ==================== feedback ==================== */
.feedback {
  /* Do đo được từ feedback lên popular là 200px mà phần padding của popular đã là 65px nên 200px - 65px = 135px */
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}

.feedback-item {
  display: flex;
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .info .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}

.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.feedback-item .dots {
  gap: 6px;
  display: flex;
  margin-top: 28px;
}

.feedback-item .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback-item .dot.active{
  /* dot nào được active(chọn vào rồi) thì không hiện bàn tay khi rê chuột vào nữa */
  cursor: default;
  background: var(--primary-color);
}

.feedback-item .content {
  /* Lấy width của box content chia cho box main-content (chỗ định dạng chung phần box lớn) */
  /* Width % tính theo độ rộng của lớp cha gần nhất */
  width: 66%;
  /* margin-left: auto: Trình duyệt sẽ lấy toàn bộ khoảng trống còn dư bên trái để làm khoảng đệm. Khi khoảng đệm bên trái phình to ra tối đa, nó sẽ tự động đẩy cái hộp sang sát mép bên phải. */
  margin-left: auto;
}

.feedback-item blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54; /* 153.846% */
}
